.info-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.list-item-container {
  margin: 2rem 0;
  padding: 0;
}

.person-details-container {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  padding: 0;
}
